@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    background-color: hsl(257, 40%, 49%)   ;
    background-image: url(../img/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
header{
    margin-left: 5%;
    margin-top: 40px;
}
.devices{
    display: inline-block;
    position:relative;
    margin-left: 5%;
    margin-top: 5%;
}
.informations{
    display: inline-block;
    position: absolute;
    text-align: left;
    color: white;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    font-size: 3em;
}
p{
    font-size: 1em;
}

button{
    width: 200px;
    position: relative;
    padding: 15px;
    border-radius: 30px;
    font-size: 17px;
    font-family: 'poppins', sans-serif;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border-color: black;
    margin-top: 20px;
}

.icons{
    display: inline-block;
    position: absolute;
    
    top: 800px;
    right: 200px;

}
a{
    color: white;
}
ul{
    list-style: none;
}
li{
    font-size: 50px;
    margin: 10px;
    float: left;
}








@media screen and (max-width:1399px) {
    
    body{
        background-image: url(/img/bg-mobile.svg);
    }
    header>img{
        width: 150px;
        margin-top: 8px;
    }
    .devices{
        margin-top: 12%;
    }
    .devices>img{
        width: 90%;
        margin: auto;
    }
    .informations{
        margin-left: 10px;
        margin-top: 5%;
    }
    .icons{
        position: absolute;
        margin: auto;
    }
}

@media screen and (max-width:1000px) {

    .devices{
        display: block;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .informations{
        position: relative;
        text-align: center;
        margin-left: 7%;
    }
    h2{
        font-size: 5vw;
    }
    p{
        font-size: 3vw;
    }

    .icons{
        position: sticky;
        margin-top: 90px;
        left: 50%;
        transform: translateX(-65%);
    }
    
@media screen and (max-width:525px) {
        .icons{
            position: sticky;
            margin-top: 90px;
            
            left: 50%;
            transform: translateX(-55%);
        }
}

}